body{
    background-color: rgb(16, 110, 147);
}
#heading{
    
    color: rgb(128, 255, 105);

    /* background-color: blue; */
  
}

.head{
    background-color: red;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;
    background-color: aquamarine;
    text-align: center;
    font-size: larger;
}
